* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: transparent;
}

html,
main {
  -webkit-app-region: drag;
  //菜单图标与文字间距
  --mx-menu-placeholder-width: 10px !important;
}

textarea,
div,
.footer-menu,
input {
  -webkit-app-region: no-drag;
}
.titlebar {
  //禁用文本选择
  -webkit-user-select: none;
}
